{% extends "dashboard/base.html" %}
{% block content %}
    {% for page in pages %}
        <div class="page_title">
            <h1 class="display-1 text-center">{{ page.title }}</h1>
        </div>
        <div>
            <h4 class="lead">{{ page.content }}
        </div>
        <div class="data_sources">
            <ul class="list-unstyled">
                <li>Entry last known update: {{ page.date }}</li>
                <li>Topic: {{ page.topic }}</li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}
